body{
    margin: 0;
    padding: 0;
}
#div1{
    height: 1024px;
    width: 1440px;
    background-image: url(./WhatsApp\ Image\ 2024-03-04\ at\ 14.22.05_22bdbc78.jpg);
    position: relative;

}
#div1::before{
    position: absolute;
}
#navbar1::before{
    position: absolute;
    opacity: 0.1;
}
#navbar1{
    height: 80px;
    background-color: rgba(0, 46, 79, 0.3);
    position: relative;
    
}    
#navbar1>ul{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#navbar1>ul>li{
    height: 30px;
    width: auto;
    display: inline;
}
#firstlist{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 22px 0px 5px 0px;
    justify-content: center;
    

}
#secondlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 5px;
    
}
#thirdlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}
#fourthlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}
#fifthlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}
#sixthlist{
    font-size: 20px;
    margin: 15px 0px 5px 500px;
}
#button1{
    background-color: rgba(0, 46, 79, .3);
    color: white;
    width: 150px;
    height: 50px;
    margin-right: 50px;
    border: 1px solid white;
    border-radius: 5px;

}


#secondlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#thirdlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#fourthlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#fifthlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#button1:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    
}
#div2{
    height: 620px;
    width: 800px;
    background-color: rgba(217, 217, 217, 0.3);
    margin: 100px 320px 0px 320px;
    border-radius: 20px;
    position: relative;
}

#div3{
    height: 620px;
    width: 800px;
    text-align: center;
    position: relative;
}

#p1{
    font-size: 30px;
    font-weight: 900;
    color: white;
    padding-top: 70px;
    
}
#p2{
    font-size: 14px;
    color: black;
    padding-right: 400px;
}
#p3{
    font-size: 14px;
    color: black;
    padding-right: 400px;
}
#p4{
    font-size: 14px;
    color: black;
    padding-right: 350px;
}
#box1{
    height: 50px;
    width: 440px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}
#box2{
    height: 50px;
    width: 440px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}
#box3{
    height: 90px;
    width: 440px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}
#button2{
    width: 440px;
    height: 50px;
    color: white;
    background-color: #3488C7;
    border-radius: 10px;
    border: none;
}
#button2:hover{
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.3);
    color: black;
}
