body{
    margin: 0px;
    padding: 0px;
}
#faq{
    height: 750px;
    width: 1235px;
    background-color: white;
    margin: auto;
    display: flex;
}
#faq1{
    height: 50px;
    width: 570px;
    position: absolute;
    background-color: #F3F3F3;
    border-radius: 8px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
#faq1 h1{
    font-size: 24px;
    font-family: 'Source Sans 3';
    color: #1A202C;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.dropdown-content1{
    position: absolute;
    height: 100px;
    width: 570px;
    background-color: #F3F3F3;
    border-radius: 8px;
    align-items: center;
    margin-top: 140px;
    display: none;
}
.dropdown-content1 p{
    text-align: center;
    
}
.dropbtn1{
    border: none;
    font-size: 24px;
}
.dropbtn1:hover{
    cursor: pointer;
}
.show1 {
    display: block;
}
#faq2{
    height: 50px;
    width: 570px;
    position: absolute;
    background-color: #F3F3F3;
    border-radius: 8px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
#faq2 h1{
    font-size: 24px;
    font-family: 'Source Sans 3';
    color: #1A202C;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.dropdown-content2{
    position: absolute;
    height: 100px;
    width: 570px;
    background-color: #F3F3F3;
    border-radius: 8px;
    align-items: center;
    margin-top: 290px;
    display: none;
}
.dropdown-content2 p{
    text-align: center;
}
.dropbtn2{
    border: none;
    font-size: 24px;
}
.dropbtn2:hover{
    cursor: pointer;
}
.show2 {
    display: block;
}
#faq3{
    height: 50px;
    width: 570px;
    position: absolute;
    background-color: #F3F3F3;
    border-radius: 8px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
#faq3 h1{
    font-size: 24px;
    font-family: 'Source Sans 3';
    color: #1A202C;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.dropdown-content3{
    position: absolute;
    height: 100px;
    width: 570px;
    background-color: #F3F3F3;
    border-radius: 8px;
    align-items: center;
    margin-top: 440px;
    display: none;
}
.dropdown-content3 p{
    text-align: center;
}
.dropbtn3{
    border: none;
    font-size: 24px;
}
.dropbtn3:hover{
    cursor: pointer;
}
.show3 {
    display: block;
}
#faq4{
    height: 50px;
    width: 570px;
    position: absolute;
    background-color: #F3F3F3;
    border-radius: 8px;
    margin-top: 550px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
#faq4 h1{
    font-size: 24px;
    font-family: 'Source Sans 3';
    color: #1A202C;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.dropdown-content4{
    position: absolute;
    height: 100px;
    width: 570px;
    background-color: #F3F3F3;
    border-radius: 8px;
    align-items: center;
    margin-top: 585px;
    display: none;
}
.dropdown-content4 p{
    text-align: center;
}
.dropbtn4{
    border: none;
    font-size: 24px;
}
.dropbtn4:hover{
    cursor: pointer;
}
.show4 {
    display: block;
}
#faq img{
    height: 570px;
    width: 570px;
    margin-left: 600px;
    margin-top: 100px;
}