#Type
    {
        color: blue;
        background-color: yellowgreen;
        display: inline;
        overflow:hidden;
        margin:0px 50px 0px 500px;
        border: 2px solid black ;
        box-shadow: 100px 50px 50px black;
        flex: 1;
        
    }
div
    {
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
#Design1
    {
        color: aqua;
        background-color: blanchedalmond;
        font-style: italic;
        text-align: center;
        height: 50px;
        width: 40%;
        font-size: 50px;
        margin: 30px 10px 0px 0px;
        padding: 50px 50px 70px 100px;
        overflow: hidden;
        display: block;
    }
#Design2
    {
        color:grey;
        background-color: black;
        font-style: italic;
        text-align: center;
        height: 50px;
        width: 40%;
        font-size: 50px;
        margin: 30px 10px 0px 0px;
        padding: 50px 50px 70px 100px;
        overflow: hidden;
    }    
#Design3
    {
        color:grey;
        background-color: blueviolet;
        font-style: italic;
        text-align: center;
        font-size: 50px;
        height: 50px;
        width: 40%;
        margin: 30px 10px 0px 0px;
        padding: 50px 50px 70px 100px;
        overflow: hidden;
    }    
#Design4
    {
        color:grey;
        background-color: greenyellow;
        font-size: 50px;
        font-style: italic;
        text-align: center;
        height: 50px;
        width: 40%;
        margin: 30px 10px 0px 0px;
        padding: 50px 50px 70px 100px;
        overflow: hidden;
    }    
#Design5
    {
        color:grey;
        background-color: darkmagenta;
        font-size: 50px;
        font-style: italic;
        text-align: center;
        height: 50px;
        width: 40%;
        margin: 30px 10px 0px 0px;
        padding: 50px 50px 70px 100px;
        overflow: hidden;
    }    
#End
    {
       text-align: center;   
       font-size: 100px;
       color: chartreuse;
       background-color: blueviolet;
       margin-left: 30%;
       margin-right: 30%;
    }

img
    {
        display: block;
        margin-left: 50%;
        margin-right: 0%;
    }
.name{
        display: flex;
        flex-direction: row;
        
    }
#button{
    background-color: whitesmoke;
    color: blue;
    height: 50px;
    width: 50px;
    align-content: center;
    border: 2px solid black;
}