body{
    margin: 0;
    padding: 0;
}
#navbar1{
    background-color:green;
    height: 100px;
}
#navbar1>ul{
    display: flex;
    justify-content: space-between;
}
#navbar1>ul>li{
    background-color:green;
    /* margin: 30px 0px 5px 0px; */
    height: 30px;
    width: auto;
    display: inline;
}
#firstlist{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0px 5px 0px;
}
#secondlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 500px;
}
#thirdlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}
#fourthlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}
#fifthlist{
    color: white;
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}
#sixthlist{
    font-size: 20px;
    margin: 30px 0px 5px 0px;
}
#button2{
    background-color: green;
    color: white;
    width: auto;
    height: 30px;
    margin-right: 50px;
    border: 1px solid white;

}

#firstlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#secondlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#thirdlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#fourthlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#fifthlist:hover{
    cursor: pointer;
    text-decoration: underline;
}
#button2:hover{
    cursor: pointer;
    color: black;
    background-color: bisque;
    
}
#Firstdiv{
    background-color: green;
    display: flex;
    gap: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 500px;
}
#popular{
    margin-left: 200px;
    color: white;
}
.button4{
    color:white;
    background-color: green;
    border: 1px solid white;
    border-radius: 20px;
}
.button4:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 500ms;
}
#trustedbydiv{
    text-align: center;
    background-color: yellowgreen;
    margin-top: 0px;
    height: 50px;
}
.trustedby{
    color: grey;
    display: inline;
    background-color:yellowgreen;
    margin-left: 10px;

}
#text{
    width: 50%;
}
#image{
    height: 140px;
    width: 50%; 
    margin: 5px 10px;
}
#image2{
    margin-left: 100px;
}
.first-heading{
    background-color:green
    height: 40px;
    width: 50%;
    margin: 70px 0px 10px 200px;
    text-align: left;
    color: white;

}
.first-heading1{
    background-color:green
    height: 40px;
    width: 50%;
    margin: 5px 0px 30px 200px;
    text-align: left;
    color: white;
}
#Searchbox{
    margin-left: 200px;
    width: auto;
    border: none;
}
#button3{
    width:50px;
    background-color: aqua;
    border: 1px solid aqua;
}
#button3:hover{
    background-color: bisque;
    cursor: pointer;
}
.second-heading{
    background-color: grey;
    height: 20px;
    width: 40%;
    margin: 10px 0px 10px 50px;
}
#button1{
    background-color: grey;
    height: 20px;
    width:10% ;
    margin: 5px 0px 5px 90px;
}
#Seconddiv{
    display: flex;
    background-color: whitesmoke;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 0px;
    /* border-bottom: 1px solid grey; */
    height: 650px;
}
#text1{
    width: 50%;
    margin-left: 0px;
}
#image1{
    background-color: grey;
    height: 140px;
    width: 50%; 
    margin: 5px 100px 90px 5px;
}
#navbar2{
    background-color:white;
    margin-left: 100px;
    margin-top: 100px;
    font-style: normal;
    height: 100px;
}
/* #navbar2>ul{
    display: flex;
    justify-content: space-around;
}
#navbar2>ul>li{
    background-color: grey;
    margin: 10px 0px 0px 10px;
    height: 30px;
    width: 60px;
    display: inline;
} */
#Thirddiv{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin:5px 200px;
    gap: 20px;
    height: 420px;
    justify-content: space-evenly;
}
/* .Thirddivchild{
     background-color: white;
     height:349px;
     margin: 25px 0px 25px 0px;
     width: 255px;
}
.image3{
    width: 255px;
    height: 349px;
    cursor: pointer;
}
.image3:hover{
    opacity:0.8;
    transition: 1s;
} */
#Thirddivchild1{
    background-color: white;
    background-image: url(/9.webp);
    height:349px;
    margin: 25px 0px 25px 0px;
    width: 255px;
    cursor: pointer;
    border-radius: 10px;
}
#Thirddivchild1:hover{
    opacity: 0.8;
    transition: 1s;
}
#Thirddivchild2{
    background-color: white;
    background-image: url(/10.webp);
    height:349px;
    margin: 25px 0px 25px 0px;
    width: 255px;
    cursor: pointer;
    border-radius: 10px;
}
#Thirddivchild2:hover{
    opacity: 0.8;
    transition: 1s;
}
#Thirddivchild3{
    background-color: white;
    background-image: url(/11.webp);
    height:349px;
    margin: 25px 0px 25px 0px;
    width: 255px;
    cursor: pointer;
    border-radius: 10px;
}
#Thirddivchild3:hover{
    opacity: 0.8;
    transition: 1s;
}
#Thirddivchild4{
    background-color: white;
    background-image: url(/12.webp);
    height:349px;
    margin: 25px 0px 25px 0px;
    width: 255px;
    cursor: pointer;
    border-radius: 10px;
}
#Thirddivchild4:hover{
    opacity: 0.8;
    transition: 1s;
}
#Thirddivchild5{
    background-color: white;
    background-image: url(/13.webp);
    height:349px;
    margin: 25px 0px 25px 0px;
    width: 255px;
    cursor: pointer;
    border-radius: 10px;
}
#Thirddivchild5:hover{
    opacity: 0.8;
    transition: 1s;
}
.heading6{
    color: white;
    margin: 19 0 0 14px;
}
.heading7{
    color: white;
    margin: 5px 0 0 14px;
}
#navbar3{
    background-color:white;
    margin-left: 120px;
    margin-top: 140px;
    font-style: normal;
    height: 100px;
}
.heading1{
    background-color: white;
    width: 110px;
    height: 20px;
    margin: 20px 5px 10px 5px;
}
.heading2{
    background-color: white;
    width: 110px;
    height: 20px;
    margin: 0px 5px 10px 5px;
}
#heading3{
    background-color: grey;
    height: 40px;
    width: 40%;
    margin: 30px auto 10px auto;
}
#heading4{
    background-color: grey;
    height: 40px;
    width: 40%;
    margin: 5px auto 30px auto;
}
#div1{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin:10px 60px;
    gap: 5px;
    height: 400px;
}
.div2{
    background-color: white;
    height:90px;
    margin: 5px 50px ;
    width: 120px;
}
.heading5{
    background-color: grey;
    width: 100px;
    height: 10px;
    margin: 10px 5px 5px 5px;
}
#firstheading{
    color: darkslategrey;
    height: 35px;
    width: 70%;
    margin: 60px 0px 10px 0px;
    text-align: left;
}
.third-heading{
    color: darkslategrey;
    height: 25px;
    width: 50%;
    text-align: left;
    margin: 40px 0px 0px 0px;
}
.paragraph{
    color: darkslategrey;
    text-align: left;
    margin: 0px 0px;
}
#video{
    width: 50%;
    height: 500px;
    margin: 150px 0px 10px 140px;
}
.icon{
    text-align: center;
    height: 15px;
    margin-bottom: 1px;
    margin-top: 20px;
    
}
.paragraph3{
    text-align: center;
}
.underline{
    margin: 8px 25px 0 25px;
}
#navbar4{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    height: 180px;
}
#heading8{
    margin-left: 110px;
    margin-top: 110px;
    color: grey;
}
#paragraph4{
    margin-top: 125px;
    height: 20px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right:none;
    color: grey;
}
#paragraph4:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
#div3{
    display: grid;
    gap:20px ;
    grid-template-columns: repeat(3,1fr);
    height: 400px;
    background-color: whitesmoke;
}
.childdiv1{
    height: 350px;
    width: 430px;
    margin:20px 0 0 110px ;
    background-color:whitesmoke;
    box-shadow: gray;
}
.childdiv1:hover{
    cursor: pointer;
    opacity: .8;
    transition: 1s;
}
.childdiv2{
    height: 350px;
    width: 430px;
    margin:20px 0px 0 0 ;
    background-color:whitesmoke;
}
.childdiv2:hover{
    cursor: pointer;
    opacity: .8;
    transition: 1s;
}
.childdiv3{
    height: 350px;
    width: 430px;
    margin:20px 110px 0 0 ;
    background-color:whitesmoke;
}
.childdiv3:hover{
    cursor: pointer;
    opacity: .8;
    transition: 1s;
}
.heading9{
    font-size: 15px;
    color: grey;
}
.imageclass{
    height: 299px;
    width: 430px;
}
#div4{
    height: 400px;
    /* display: flex;
    flex-direction: row; */
    background-color: blue;
    margin: 40px 120px;
    background-image: url(/14.webp);
    background-position: right;
    background-repeat: no-repeat;
}
#div5{

    height: 350px;

}
#heading10{
    color: white;
    margin: 100px 0px 5px 80px ;
}
#heading11{
    color: white;
    margin: 10px 0 5px 80px;
}
#button5{
    color: black;
    margin: 18px 0px 5px 80px;
    height: 30px;
    width: 200px;
    color: blue;
    background-color: white;
    border: none;
}
#button5:hover{
    cursor: pointer;
    background-color: grey;
}
#div6{
    height: 400px;
    margin: 40px 120px;
    background-image: url(/18.webp);
    /* width: 1400px; */
    background-position: 1400px;
}
#heading12{
    color: white;
    margin: 110px 0 5px 80px;
}
#button6{
    margin:10px 0 0 80px ;
    height: 30px;
    width: 200px;
    color: white;
    background-color: green;
    border: none;
}
#button6:hover{
    background-color: greenyellow;
    cursor: pointer;
    transition: 100ms;
    color: black;
}
#footer1{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 800px;
    border-top: 1px solid gray;
    padding-top: 60px;
    gap: 5px;
    background-color: white;
}
.div7{
    height:600px ;
    width:auto;
    text-align: left;
    margin-left: 90px;
}
#div8{
    height: 50px;
    background-color: gray;
    color: black;
}
.fiverr{
    margin-left: 100px;
    display: inline;
}
.fiverr1{
    margin-left: 10px;
    display: inline;
}
#logo1{
    margin-left: 800px;
    justify-content: center;
    display: inline;
}
.logo2{
    margin-left: 10px;
    justify-content: center;
    display: inline;
}
