/* #div1{
    max-width: 1200px;
    height: 500px;
    background-color: blue;
    margin: 100px 150px;
    display: flex; */
    /* justify-content: center;
    gap: 100px; */
}
/* #div2{
    height: 300px;
    width: 400px;
    background-color: yellow;
    margin-top: 100px;
}
#div3{
    height: 300px;
    width: 400px;
    background-color: gray;
    margin-top: 100px;
} */ */