#body{
    background-color: blanchedalmond;
}
#first{
    margin: 30px 130px 0px 150px;
    background-image: url(./globe@1x.webp);
    background-color: white;
    height: 50%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#second{
    background-color: whitesmoke;
    margin-top: 10px;
    margin-left: 50px;
    color: green;
    text-align: center;
    position: absolute;
    width: 40%;
}
button{
    color: white;
    background-color: green;
    border-radius: 20px;
    height: 50%;
    width: 50%;
}
button:hover{
    color: black;
    background-color: greenyellow;
    cursor: pointer;
    transition: 1s;
}
#third{
    margin: 30px 130px 0px 150px;
    background-image:url(./61f022a2aad16bd7fdd13bc6_Art\ Logo\ Design.jpeg) ;
    background-color: gray;
    height: 50%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#fourth{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left:70%;
    color: green;
    text-align: center;
    position: absolute;
}
#fifth{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 130px;
    margin-right: 100px;
    margin-bottom: 50px;
    justify-content: space-between;
    
}
#image{
    margin-top: 10px;
    margin-left: 30%;
    height: 40%;
    width: 40%;
    
}
#button1{
    margin: 20px 20px 20px 20px;
    width: 30%;
    padding: 20px 20px 20px 20px;
    color: whitesmoke;
    background-color: gray;
}
#button1:hover{
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    transition: 1s;
}
#button2{
    margin: 20px 20px 20px 20px;
    width: 30%;
    padding: 20px 20px 20px 20px;
    color: red;
    background-color: azure;
}
#button2:hover{
    color: yellow;
    background-color: rebeccapurple;
    cursor: pointer;
    transition: 1s;
}
#button3{
    margin: 20px 20px 20px 20px;
    width: 30%;
    padding: 20px 20px 20px 20px;
    color: yellow;
    background-color: rebeccapurple;
}
#button3:hover{
    color: black;
    background-color:gold;
    cursor: pointer;
    transition: 1s;
}
#button4{
    margin: 20px 20px 20px 20px;
    width: 30%;
    padding: 20px 20px 20px 20px;
    color: black;
    background-color:gold;
}
#button4:hover{
    color: gold;
    background-color:blueviolet;
    cursor: pointer;
    transition: 1s;
}
#button5{
    margin: 20px 20px 20px 20px;
    width: 30%;
    padding: 20px 20px 20px 20px;
    color: slategray;
    background-color: oldlace;
}
#button5:hover{
    color: black;
    background-color:snow;
    cursor: pointer;
    transition: 1s;
}
